.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
  }
  
  .scrollable-content {
    margin-top: 180px; /* Adjust this based on the combined height of your header and filter */
    width: 100%;
    overflow-y: auto;
    padding: 1rem;
  }
  
  /* Add margin to the cards */
  .scrollable-content > .cards-container {
    margin-top: 2rem; /* Adjust this value as needed for the gap */
  }
  